@using Newtonsoft.Json
@model OnlineMovieTicket.BL.DTOs.Showtime.ShowtimeWithSeatsDTO
@{
    ViewData["Title"] = "Edit Showtime";
}

<form id="editShowtimeForm">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Showtime.Id" value="@Model.Showtime.Id" />
    <input type="hidden" asp-for="Showtime.CityId" value="@Model.Showtime.CityId" />
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-4">    
                                <label asp-for="Showtime.CinemaId">Cinema <span class="text-danger"> *</span></label>
                                <select asp-for="Showtime.CinemaId" id="editCinemaSelected" class="form-control readonly-select" data-selected="@Model.Showtime.CinemaId">
                                    <option value="">-- Select Cinema --</option>
                                </select>
                                <span asp-validation-for="Showtime.CinemaId" class="text-danger small validation-message"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">    
                                <label asp-for="Showtime.RoomId">Room <span class="text-danger"> *</span></label>
                                <select asp-for="Showtime.RoomId" id="editRoomSelected" class="form-control readonly-select" data-selected="@Model.Showtime.RoomId">
                                    <option value="">-- Select Room --</option>
                                </select>
                                <span asp-validation-for="Showtime.RoomId" class="text-danger small validation-message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-4">    
                        <label asp-for="Showtime.MovieId">Movie <span class="text-danger">*</span></label>
                        <select asp-for="Showtime.MovieId" id="editMovieSelected" class="form-control readonly-select" data-selected="@Model.Showtime.MovieId">
                            <option value="">-- Select Movie --</option>
                        </select>
                        <span asp-validation-for="Showtime.MovieId" class="text-danger small validation-message"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="Showtime.StartTime">Start Time</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                            </div>
                            <input id="startTime" type="datetime-local" asp-for="Showtime.StartTime" class="form-control">
                        </div>
                        <span asp-validation-for="Showtime.StartTime" class="text-danger small"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="Showtime.EndTime">End Time</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                            </div>
                            <input id="endTime" type="datetime-local" asp-for="Showtime.EndTime" class="form-control">
                        </div>
                        <span asp-validation-for="Showtime.EndTime" class="text-danger small"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card shadow">
                <div class="card-body">
                    <h6 class="mb-3 font-weight-bold">Seats Setting</h6>
                    <div class="mt-5 seats-container">
                        <div id="seatsContainer" class="seats-grid-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="SeatsJson" id="SeatsJson" />
    <button type="submit" class="btn btn-primary mt-2">Save Showtime</button>
</form>

@section Scripts {
    <script>
        const urlGetCinemas = '@Url.Action("GetCinemasByCity", "Cinema", new { area = "Admin" })';
        const urlGetRooms = '@Url.Action("GetRoomByCinema", "Room", new { area = "Admin" })';
        const urlGetAllMovies = '@Url.Action("GetAllMovies", "Movie", new { area = "Admin" })';
        const urlEdit = '@Url.Action("Edit", "Showtime", new { area = "Admin" })';
        const urlIndex = '@Url.Action("Index", "Showtime", new { area = "Admin" })';
        let seatDataList = @Html.Raw(JsonConvert.SerializeObject(Model.ShowtimeSeats));
    </script>
    <script src="~/Admin/js/EditShowtime.js" asp-append-version="true"></script>
}