@using Newtonsoft.Json
@model OnlineMovieTicket.BL.DTOs.Room.RoomWithSeatsDTO
@{
    ViewData["Title"] = "Edit Room";
}
<h1 class="h3 mb-0 text-gray-800 mb-3">Edit Room</h1>

<form id="editRoomWithSeatsForm">
    @Html.AntiForgeryToken()
    <div class="row">
        <!-- Room Information Card -->
        <div class="col-md-3">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <input type="hidden" asp-for="Room.Id" value="@Model.Room.Id" />
                    <input type="hidden" asp-for="Room.IsAvailable" value="@Model.Room.IsAvailable" />
                    <div class="form-group mb-4">
                        <label asp-for="Room.Name">Name <span class="text-danger">*</span></label>
                        <input asp-for="Room.Name" class="form-control" />
                        <span asp-validation-for="Room.Name" class="text-danger small validation-message"></span>
                    </div>

                    <div class="form-group mb-4">
                        <label asp-for="Room.CountryId">Country <span class="text-danger">*</span></label>
                        <select asp-for="Room.CountryId" id="editCountrySelected" class="form-control readonly-select" data-selected="@Model.Room.CountryId">
                            <option value="">Select Country</option>
                        </select>
                        <span asp-validation-for="Room.CountryId" class="text-danger small validation-message"></span>
                    </div>

                    <div class="form-group mb-4">
                        <label asp-for="Room.CityId">City <span class="text-danger">*</span></label>
                        <select asp-for="Room.CityId" id="editCitySelected" class="form-control readonly-select" data-selected="@Model.Room.CityId">
                            <option value="">Select City</option>
                        </select>
                        <span asp-validation-for="Room.CityId" class="text-danger small validation-message"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Room.CinemaId">Cinema <span class="text-danger">*</span></label>
                        <select asp-for="Room.CinemaId" id="editCinemaSelected" class="form-control readonly-select" data-selected="@Model.Room.CinemaId">
                            <option value="">Select Cinema</option>
                        </select>
                        <span asp-validation-for="Room.CinemaId" class="text-danger small validation-message"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Seat Setting Card -->
        <div class="col-md-9">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h6 class="mb-3 font-weight-bold">Seats Setting</h6>
                    <div class="form-row">
                        <div class="col-md-5">
                            <label asp-for="Room.Row">Rows <span class="text-danger">*</span></label>
                            <input asp-for="Room.Row" type="number" class="form-control" min="1" max="26"/>
                            <span asp-validation-for="Room.Row" class="text-danger small validation-message"></span>
                        </div>
                        <div class="col-md-5">
                            <label asp-for="Room.Column">Columns <span class="text-danger">*</span></label>
                            <input asp-for="Room.Column" type="number" class="form-control" min="1" max="20" />
                            <span asp-validation-for="Room.Column" class="text-danger small validation-message"></span>
                        </div>
                        <div class="col-md-2 h-70px d-flex align-items-end">
                            <button type="button" class="btn btn-info generate-btn" id="generateSeats">Generate Seats</button>
                        </div>
                    </div>
                    <div class="mt-5 seats-container">
                        <div id="seatsContainer" class="seats-grid-container"></div>
                    </div>
                    <div class="form-group mt-5 d-none" id="seatTypeGroup">
                        <div class="col-md-5">
                            <label for="editSeatTypeSelect">Seat Type</label>
                            <select id="editSeatTypeSelect" class="form-control">
                                <option value="">-- Select Seat type --</option>
                            </select>
                            <button type="button" id="applySeatTypeBtn" class="btn btn-info mt-3">
                                Apply
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="SeatsJson" id="SeatsJson" />
    <button type="submit" class="btn btn-primary mt-3">Save Room</button>
</form>

@section Scripts {
    <script>
        const urlGetAllCountries = '@Url.Action("GetAllCountries", "Country", new { area = "Admin" })';
        const urlGetCities = '@Url.Action("GetCitiesByCountry", "City", new { area = "Admin" })';
        const urlGetCinemas = '@Url.Action("GetCinemasByCity", "Cinema", new { area = "Admin" })';
        const urlGetAllSeatType = '@Url.Action("GetAllSeatTypes", "SeatType", new { area = "Admin" })';
        const urlEdit = '@Url.Action("Edit", "Room", new { area = "Admin" })';
        const urlIndex = '@Url.Action("Index", "Room", new { area = "Admin" })';
        let defaultSeatType = null;
        let selectedSeats = [];
        let seatDataList = @Html.Raw(JsonConvert.SerializeObject(Model.Seats));
        let seatTypeList = [];

    </script>
    <script src="~/Admin/js/EditRoom.js" asp-append-version="true"></script>
}