@model OnlineMovieTicket.BL.DTOs.User.ChangePasswordDTO

<form id="changePasswordForm">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-4">
            <h3 class="section-title">Change Password</h3>
            <div class="form-group">
                <label asp-for="@Model.Password" class="text-dark"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    </div>
                    <input asp-for="@Model.Password" id="inputPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" />
                </div>
                <span asp-validation-for="@Model.Password" class="text-danger small validation-message"></span>
                <ul class="text-muted small pl-3 mt-4" id="passwordRequirements">
                    <li id="req-length">At least 6 characters</li>
                    <li id="req-uppercase">At least 1 uppercase letter (A-Z)</li>
                    <li id="req-lowercase">At least 1 lowercase letter (a-z)</li>
                    <li id="req-number">At least 1 number (0-9)</li>
                    <li id="req-special">At least 1 special character</li>
                </ul>
            </div>

            <div class="form-group mb-5">
                <label asp-for="@Model.ConfirmPassword" class="text-dark"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    </div>
                    <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" aria-required="true" />
                </div>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger small validation-message"></span>
            </div>
            <div class="d-flex justify-content-start">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </div>
</form>