@{
    ViewData["Title"] = "Banner Management";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Banner Management</h1>
    <a id="addBtn" class="btn btn-primary btn-icon-split btn-sm cursor-pointer">
        <span class="icon text-white">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Add New Banner</span>
    </a>
</div>

<div class="row mb-3">
    <div class="col-md-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <input type="text" id="searchTerm" class="form-control" placeholder="Search by Title">
        </div>  
    </div>
    <div class="col-md-2">
        <select id="statusFilter" class="form-control">
            <option value="">All Status</option>
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
    </div>
</div> 

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table id="bannersTable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th class="text-center">Status</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="modalPlaceholder">
    <div class="modal fade" id="bannerModal" tabindex="-1" role="dialog" aria-labelledby="bannerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const urlGetBanners = '@Url.Action("GetBanners", "Banner", new { area = "Admin" })';
        const urlCreate = '@Url.Action("Create", "Banner", new { area = "Admin" })';
        const urlEdit = '@Url.Action("Edit", "Banner", new { area = "Admin" })';
        const urlDelete = '@Url.Action("Delete", "Banner", new { area = "Admin" })';
        const urlChangeStatus = '@Url.Action("ChangeStatus", "Banner", new { area = "Admin" })';
        
    </script>
    <script src="~/Admin/js/Banner.js" asp-append-version="true"></script>
}
