@{
    ViewData["Title"] = "City Management";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">City Management</h1>
    <a id="addBtn" class="btn btn-primary btn-icon-split btn-sm cursor-pointer">
        <span class="icon text-white">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Add New City</span>
    </a>
</div>
<div class="d-flex mb-3">
    <div class="w-25">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <input type="text" id="searchTerm" class="form-control" placeholder="Search by Name or PostalCode">
        </div>  
    </div>
    <div class="w-25 ml-3">
        <select id="countryFilter" class="form-control">
            <option value="">All Countries</option>
        </select>
    </div>
</div> 

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table id="citiesTable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="sort-header" data-sort="Name">
                            Name <i class="fas fa-sort" id="sort-icon-Name"></i>
                        </th>
                        <th>
                            PostalCode</i>
                        </th>
                        <th>
                            Country
                        </th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="modalPlaceholder">
    <div class="modal fade" id="cityModal" tabindex="-1" role="dialog" aria-labelledby="cityModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const urlGetAllCountries = '@Url.Action("GetAllCountries", "Country", new { area = "Admin" })';
        const urlGetCities = '@Url.Action("GetCities", "City", new { area = "Admin" })';
        const urlCreate = '@Url.Action("Create", "City", new { area = "Admin" })';
        const urlEdit = '@Url.Action("Edit", "City", new { area = "Admin" })';
        const urlDelete = '@Url.Action("Delete", "City", new { area = "Admin" })';
    </script>
    <script src="~/Admin/js/City.js" asp-append-version="true"></script>
}