<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - OnlineMovieTicket</title>
    <link href="~/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" asp-append-version="true">
    <link href="~/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/Admin/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <li>
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Dashboard", new { area = "Admin" })">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">OMT Admin</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Dashboard", new { area = "Admin" })">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#locationsMenu" aria-expanded="true" aria-controls="locationsMenu">
                    <i class="fas fa-fw fa-map-marker-alt"></i>
                    <span>Locations</span>
                </a>
                <div id="locationsMenu" class="collapse" aria-labelledby="headingLocations" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index", "Country", new { area = "Admin" })">Country</a>
                        <a class="collapse-item" href="@Url.Action("Index", "City", new { area = "Admin" })">City</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#cinemaMgmtMenu" aria-expanded="true" aria-controls="cinemaMgmtMenu">
                    <i class="fas fa-fw fa-cogs"></i>
                    <span>Cinema Management</span>
                </a>
                <div id="cinemaMgmtMenu" class="collapse" aria-labelledby="headingCinemaMgmt" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index", "Cinema", new { area = "Admin" })">Cinema</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Room", new { area = "Admin" })">Room</a>
                        <a class="collapse-item" href="@Url.Action("Index", "SeatType", new { area = "Admin" })">Seat Type</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Banner", new { area = "Admin" })">Banner</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#moviesScheduleMenu" aria-expanded="true" aria-controls="moviesScheduleMenu">
                    <i class="fas fa-fw fa-film"></i>
                    <span>Movies & Scheduling</span>
                </a>
                <div id="moviesScheduleMenu" class="collapse" aria-labelledby="headingMoviesSchedule" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index", "Movie", new { area = "Admin" })">Movie</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Showtime", new { area = "Admin" })">Showtime</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#customerMgmtMenu" aria-expanded="true" aria-controls="customerMgmtMenu">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Customer Management</span>
                </a>
                <div id="customerMgmtMenu" class="collapse" aria-labelledby="headingCustomerMgmt" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index", "Order", new { area = "Admin" })">Order</a>
                        <a class="collapse-item" href="@Url.Action("Index", "User", new { area = "Admin" })">User Account</a>
                    </div>
                </div>
            </li>
            <li class="d-flex align-items-center justify-content-center">
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </li>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">                                              
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity?.Name</span>
                                <i class="fas fa-user-circle fa-2x"></i>     
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="javascript:void(0);"
                                onclick="document.getElementById('logout-form').submit();">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                                <form id="logout-form"asp-area="Identity" method="post" asp-page="/Account/Logout"
                                    asp-route-returnUrl="@Url.Page("/Account/Login", new { area = "Identity" })" style="display: none;">
                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>&copy; @DateTime.Now.Year - Online Movie Ticket Admin</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/Admin/vendor/jquery/jquery.min.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/Admin/vendor/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>

    <script src="~/Admin/js/navigation.js" asp-append-version="true"></script>
    <script src="~/Admin/js/sb-admin-2.js" asp-append-version="true"></script>


    <script src="~/Admin/vendor/datatables/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/Admin/vendor/datatables/dataTables.bootstrap4.min.js" asp-append-version="true"></script>


    <script src="~/Admin/vendor/chart.js/Chart.min.js" asp-append-version="true"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    <script src="~/js/notification.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
